services:
  # --- PROXY REVERSO ---
  web-proxy:
    image: caddy:latest
    container_name: web-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${PORTAINER_PATH}/docker/caddy/Caddyfile:/etc/caddy/Caddyfile
      - ${PORTAINER_PATH}/data/caddy/data:/data
      - ${PORTAINER_PATH}/docker/caddy/config:/config
    networks:
      - web-proxy
    environment:
      - CADDY_DOMAIN=${CADDY_DOMAIN}
    extra_hosts:
      - "host.docker.internal:host-gateway" # Permite o Caddy falar com o AdGuard/HA no Host

  # --- AUTOMAÇÃO ---
  n8n:
    image: n8nio/n8n:stable
    container_name: n8n
    restart: always
    environment:
      - GENERIC_TIMEZONE=${TIMEZONE}
      - TZ=${TIMEZONE}
      # Importante para o n8n saber onde ele mora
      - N8N_HOST=${CADDY_DOMAIN}
      - WEBHOOK_URL=https://n8n.${CADDY_DOMAIN}/
    volumes:
      - ${PORTAINER_PATH}/data/n8n:/home/node/.n8n
    networks:
      - web-proxy

  # --- DNS & REDE (Agora com AdGuard) ---
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    restart: unless-stopped
    # Rede HOST: Ele pega o IP 192.168.1.200 direto.
    # Sem conflito de isolamento. Muito mais rápido.
    network_mode: host
    volumes:
      - ${PORTAINER_PATH}/data/adguard/work:/opt/adguardhome/work
      - ${PORTAINER_PATH}/data/adguard/conf:/opt/adguardhome/conf
    # Não precisa mapear portas em 'host mode', ele abre as portas da máquina

  # --- CASA INTELIGENTE ---
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:latest
    container_name: homeassistant
    restart: unless-stopped
    # Rede HOST é crítica para Home Assistant descobrir dispositivos IoT
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${PORTAINER_PATH}/data/homeassistant:/config
      - /run/dbus:/run/dbus:ro

networks:
  web-proxy:
    driver: bridge