# Global Options
{
    email phplemos.dev@gmail.com
}

homelab.local {
    tls internal
    reverse_proxy portainer:9000
}

# Se quiser subdomínios (ex: n8n.homelab.local):
n8n.homelab.local {
    tls internal
    reverse_proxy n8n:5678
}